body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #fff;
  transition: color 1s ease, background-color 1s ease;
}
body.dark {
  background-color: #222831;
  color: #cfd8dc;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", sans-serif !important;
  margin: 0.7em 1em;
}
.btn-toggler {
  position: fixed !important;
  top: 10px;
  right: 10px;
}
.mt {
  margin-top: 50px;
}
.center {
  display: flex;
  justify-content: center;
}
.MuiCardMedia-media {
  width: initial !important;
}
.MuiCard-root {
  display: inline-block;
  margin: 1em;
}
.MuiCardActionArea-root {
  min-height: 220px;
}
.MuiCardActions-root {
  justify-content: center;
}
.MuiTypography-h5 {
  font-size: inherit !important;
}
.MuiCardMedia-img {
  margin-left: auto;
  margin-right: auto;
}
